[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Calibre Content Server
Comment=Serveur de contenu Calibre
Exec=calibre-server --port 8282
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

